<a href="https://colab.research.google.com/github/sriram687/python_quiz_game/blob/main/pythoncode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
b=10
a,b=b,a
print("a=",a,"b=",b)

a= 10 b= 5

In [ ]:
a=int(input("Enter a number:"))
if(a==2):
    print("Prime")
elif((a-1)%2==0):
    print("prime")
else:
    print("Not prime")

In [ ]:
a=int(input("Enter a number:"))
result=1
for i in range(1,a+1):
     result *=i
print("factorial of",a,"is", result)

In [ ]:
a=int(input("Enter a Number :"))
result=0
while a>0:
    b=a%10
    result +=b
    a=a//10
print("The sum of Digit of Number is",result)

In [ ]:
a=int(input("Enter a Number :"))
b=(a*9/5)+32
print(b)

Enter a Number :32
89.6

In [ ]:
a=int(input("Enter the year"))
if((a%4==0 and a%100!=0)or(a%400==0)):
    print("It is a leap year")
else:
    print("It is not a leap year")

In [ ]:
import keyword
a=input("Enter the word")
if keyword.iskeyword(a):
    print("It is a Key Word")
else:
    print("It is not a Key Word")

Enter the wordFalse
It is a Key Word

In [ ]:
a,b,c=2,5,7
print(a,b,c)

2 5 7

In [ ]:
multilinestring = """This is a multi-line string.
It spans multiple lines."""
print(multilinestring)

In [ ]:
binarynum = 0b1010
octalnum = 0o12
hexadecimalnum = 0xA

print("Binary:", binarynum)
print("Octal:", octalnum)
print("Hexadecimal:", hexadecimalnum)

In [ ]:
string1 = "Hello, "
string2 = "World!"
concatenatedstring = string1 + string2
print(concatenatedstring)

In [ ]:
integernum = 10
floatnum = 10.5
complexnum = 3 + 4j

print("Integer:", integernum)
print("Float:", floatnum)
print("Complex:", complexnum)

In [ ]:
num = 5
ispositive = num > 0
print("Is the number positive?", ispositive)

In [ ]:
var = None
print("Value:", var,)
print(" Type:", type(var))

In [13]:
fruits = ["Apple", "Banana", "Cherry"]
tuple = (10, 20, 30)
dict = {"name": "John", "age": 25}
set = {"Red", "Green", "Blue"}

print("List of fruits:", fruits)
print("Tuple of numbers:", tuple)
print("Dictionary:", dict)
print("Set of colors:", set)

In [13]:
a = 10
b = 9.0

print("Addition:", int(a + b))
print("Subtraction:", a - b)
print("Multiplication:", int(a * b))
print("Division:", a / b)

In [ ]:
set = {1, 2, 3}
set.add(4)
set.remove(2)

print("Modified set:", set)